<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.smhrd.PMnt.mapper.ProductMapper">
    
    <!-- 재고관리 sql -->
    <select id="productList" resultType="kr.smhrd.PMnt.entity.ProProduct">
       select * from pro_product order by preceivingdate desc
   </select>

   <!-- 재고관리  pnum 데이터 값 고정하여 넣는 sql문 -->
   <insert id= "productInsert" parameterType ="kr.smhrd.PMnt.entity.ProProduct">
		insert into pro_product (pnum, pname, preceivingquantity, pshipments, preceivingdate, pshippingdate, pexpirationdate, preceivingamount, pshippingamount, pincome, premarks, userbno)
		select pnum, #{pname},#{preceivingquantity},#{pshipments},#{preceivingdate},#{pshippingdate},pexpirationdate,#{preceivingamount},#{pshippingamount},#{pincome},#{premarks},#{userbno}
		from pro_productinfo
		where pname = #{pname}
		limit 1;
	</insert>
	
   <!-- 재고관리 삭제 sql문 -->
	<delete id = "productDelete" parameterType = "kr.smhrd.PMnt.entity.ProProduct">
       delete from pro_product where pseq=#{pseq}
   </delete>
   
	<!-- 제품명 검색기능 sql문 -->
	<select id = "productSearch" resultType = "kr.smhrd.PMnt.entity.ProProduct">
		select * from pro_product where pname = #{pname} and userbno = #{userbno}
	</select>
	
	<!-- 입고일 검색기능 sql문 -->
	<select id = "productSearch2" resultType = "kr.smhrd.PMnt.entity.ProProduct">
		select * from pro_product where preceivingdate = #{preceivingdate} and userbno = #{userbno}
	</select>
	
	<!-- 입고일 검색기능 sql문 -->
	<select id = "productSearch3" resultType = "kr.smhrd.PMnt.entity.ProProduct">
		select * from pro_product where pshippingdate = #{pshippingdate} and userbno = #{userbno}
	</select>
	
	<update id= "productUpdate" parameterType ="kr.smhrd.PMnt.entity.ProProduct">
		update pro_product set preceivingquantity = #{preceivingquantity},
		pshipments = #{pshipments}, preceivingdate = #{preceivingdate},
		pshippingdate =#{pshippingdate}, preceivingamount =#{preceivingamount},
		pshippingamount =#{pshippingamount},pincome = #{pincome}, premarks = #{premarks}
		where pseq=#{pseq} and userbno =#{userbno}
	</update>
	
	
	<select id="fruitsList" resultType="kr.smhrd.PMnt.entity.ProFruits">
       select * from pro_fruits where fmonth = date_format(now(), '%m');
   </select>
	
	<select id="fruitsData" resultType="kr.smhrd.PMnt.entity.ProSynthesis">
		SELECT MAX(syseq) AS syseq, DATE_FORMAT(CURDATE() - INTERVAL 1 YEAR, '%Y-%m' ) AS syday, MAX(syproduct) AS syproduct, SUM(sycnt) AS sycnt, MAX(wtemperature) AS wtemperature, MAX(wmintemperature) AS wmintemperature, MAX(wmaxtemperature) AS wmaxtemperature, MAX(wprecipitation) AS wprecipitation, MAX(whumidity) AS whumidity, MAX(scnt) AS scnt
		FROM pro_synthesis
		WHERE DATE_FORMAT(syday, '%Y-%m') = DATE_FORMAT(CURDATE() - INTERVAL 1 YEAR, '%Y-%m')
		GROUP BY DATE_FORMAT(CURDATE() - INTERVAL 1 YEAR, '%Y-%m'), syproduct;
   </select>
	
	<!-- <select id="tempData" resultType="kr.smhrd.PMnt.entity.ProSynthesis">
	    <![CDATA[
	    SELECT syproduct, temperature_range, CAST(SUM(sycnt) AS SIGNED) AS sycnt
	    FROM (
	        SELECT syproduct,
	            CASE
	                WHEN wtemperature >= -15 AND wtemperature < -10 THEN -15
	                WHEN wtemperature >= -10 AND wtemperature < -5 THEN -10
	                WHEN wtemperature >= -5 AND wtemperature < 0 THEN -5
	                WHEN wtemperature >= 0 AND wtemperature < 5 THEN 0
	                WHEN wtemperature >= 5 AND wtemperature < 10 THEN 5
	                WHEN wtemperature >= 10 AND wtemperature < 15 THEN 10
	                WHEN wtemperature >= 15 AND wtemperature < 20 THEN 15
	                WHEN wtemperature >= 20 AND wtemperature < 25 THEN 20
	                WHEN wtemperature >= 25 AND wtemperature < 30 THEN 25
	                WHEN wtemperature >= 30 AND wtemperature < 35 THEN 30
	                ELSE 35
	            END AS temperature_range,
	            sycnt
	        FROM pro_synthesis
	        WHERE wtemperature >= -15 AND wtemperature <= 35
	    ) AS subquery
	    GROUP BY syproduct, temperature_range
	    ]]>
</select> -->
	<select id="tempData" resultType="kr.smhrd.PMnt.entity.ProSynthesis">
		    <![CDATA[
		    SELECT syproduct, wtemperature, CAST(SUM(sycnt) AS SIGNED) AS sycnt
FROM (
    SELECT syproduct,
        CASE
            WHEN wtemperature >= -15 AND wtemperature < -10 THEN -15
            WHEN wtemperature >= -10 AND wtemperature < -5 THEN -10
            WHEN wtemperature >= -5 AND wtemperature < 0 THEN -5
            WHEN wtemperature >= 0 AND wtemperature < 5 THEN 0
            WHEN wtemperature >= 5 AND wtemperature < 10 THEN 5
            WHEN wtemperature >= 10 AND wtemperature < 15 THEN 10
            WHEN wtemperature >= 15 AND wtemperature < 20 THEN 15
            WHEN wtemperature >= 20 AND wtemperature < 25 THEN 20
            WHEN wtemperature >= 25 AND wtemperature < 30 THEN 25
            WHEN wtemperature >= 30 AND wtemperature < 35 THEN 30
            ELSE 35
        END AS wtemperature,
        sycnt
    FROM pro_synthesis
    WHERE wtemperature >= -15 AND wtemperature <= 35
        AND YEAR(syday) = YEAR(CURRENT_DATE) - 1
) AS subquery
GROUP BY syproduct, wtemperature
ORDER BY wtemperature ASC;

		    ]]>
	</select>
	
	
	
</mapper>