/* =========== Google Fonts ============ */
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");

/* =============== Globals ============== */
* {
  font-family: "Ubuntu", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


:root{
  --main:#86CBC5;
  --blue:#2a2185;
  --whtie:#fff;
  --gray:#f5f5f5;
  --black:#222;
  --black2:#999;
  /* font-size: calc(16px + (24 - 16)*(100vw - 320px)/(1920 - 320)); */
}
/* 화면변경 */
.container input[type=radio] {
	display: none;
}
#tab-1:checked ~ .navigation label:nth-child(2),
#tab-2:checked ~ .navigation label:nth-child(3),
#tab-3:checked ~ .navigation label:nth-child(4),
#tab-4:checked ~ .navigation label:nth-child(5) {
  box-shadow: none;
}
.main > div {
	display: none;
}
#tab-1:checked ~ .main div:nth-child(1),
#tab-2:checked ~ .main div:nth-child(2),
#tab-3:checked ~ .main div:nth-child(3),
#tab-4:checked ~ .main div:nth-child(4)  {
	display: block;
}

/* =====화면변경끝 */

body {
  min-height: 100vh;
  overflow-x: hidden;
}

.container {
  position: relative;
  width: 100%;
}

/* =============== Navigation ================ */
.navigation {
  position: fixed;
  width: 300px;
  height: 100%;
  background: var(--main);
  border-left: 10px solid var(--main);
  transition: 0.5s;
  overflow: auto;
  font-weight: 700;
 
}
.navigation::-webkit-scrollbar {
  display: none; /* 크롬, 사파리, 오페라, 엣지 */
}

.navigation.active {
  width: 80px;
}


.navigation ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.navigation ul li {
  position: relative;
  width: 100%;
  list-style: none;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

.navigation ul li:hover,
.navigation ul li.hovered {
  background-color: var(--whtie);
}

.navigation ul li:nth-child(1) {
  margin-bottom: 40px;
  pointer-events: none;
}


.navigation ul li label {
  position: relative;
  display: block;
  width: 100%;
  display: flex;
  text-decoration: none;
  color: var(--white);
}
.navigation ul li:hover label,
.navigation ul li.hovered label {
  color: var(--main);
  transition: 1s;
}

.navigation ul li label .icon {
  position: relative;
  display: block;
  min-width: 60px;
  height: 60px;
  line-height: 75px;
  text-align: center;
  cursor: pointer;
}
.navigation ul li label .icon ion-icon {
  font-size: 1.75rem;
}

.navigation ul li label .title {
  position: relative;
  display: block;
  padding: 0 10px;
  height: 60px;
  line-height: 60px;
  text-align: start;
  white-space: nowrap;
  cursor: pointer;
  user-select: none;
}
.navigation ul li label .icon .rogo{
  width: 60px;
  user-select: none;
}
/* =================로그인============ */
.navigation ul li a {
  position: relative;
  display: block;
  width: 100%;
  display: flex;
  text-decoration: none;
  color: var(--white);
}
.navigation ul li:hover a,
.navigation ul li.hovered a {
  color: var(--main);
  transition: 1s;
}

.navigation ul li a .icon {
  position: relative;
  display: block;
  min-width: 60px;
  height: 60px;
  line-height: 75px;
  text-align: center;
  cursor: pointer;
}
.navigation ul li a .icon ion-icon {
  font-size: 1.75rem;
}

.navigation ul li a .title {
  position: relative;
  display: block;
  padding: 0 10px;
  height: 60px;
  line-height: 60px;
  text-align: start;
  white-space: nowrap;
  cursor: pointer;
  user-select: none;
}

/* =============날씨=========@@@@테이블로처리 생각해볼것 */


.navigation ul table th ion-icon{
  position: relative;
  /* display: block; */
  min-width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  
}
.navigation ul table th ion-icon{
  font-size: 1.75rem;
}
.navigation ul table td img{
  width: 200px;
  height: 250px;
}

.navigation ul table{
  position: relative;
  display: block;
  width: 100%;
  display: flex;
  text-decoration: none;
  color: var(--black);
}

.navigation ul table{
  margin-top:20px;
  margin-bottom: 20px;
  pointer-events: none;
  background-color: var(--main);
}

.navigation ul table td{
  position: relative;
  /* display: block; */
  padding: 0 10px;
  height: 30px;
  line-height: 30px;
}
.weather{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}


.weatherwidget-io{
  width: 180px;
  /* border: 1px solid; */
  box-sizing: border-box;
  
  position: relative;
  /* padding: 0 10px; */
}


/* --------- curve outside ---------- */
.navigation ul li:hover label::before,
.navigation ul li.hovered label::before {
  content: "";
  position: absolute;
  right: 0;
  top: -50px;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border-radius: 50%;
  box-shadow: 35px 35px 0 10px var(--whtie);
  pointer-events: none;
  transition: 1s;
}
.navigation ul li:hover label::after,
.navigation ul li.hovered label::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -50px;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border-radius: 50%;
  box-shadow: 35px -35px 0 10px var(--whtie);
  pointer-events: none;
  transition: 1s;
}
.navigation ul li:hover a::before,
.navigation ul li.hovered a::before {
  content: "";
  position: absolute;
  right: 0;
  top: -50px;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border-radius: 50%;
  box-shadow: 35px 35px 0 10px var(--whtie);
  pointer-events: none;
  transition: 1s;
}
.navigation ul li:hover a::after,
.navigation ul li.hovered a::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -50px;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border-radius: 50%;
  box-shadow: 35px -35px 0 10px var(--whtie);
  pointer-events: none;
  transition: 1s;
}

/* ===================== Main ===================== */
.main {
  position: absolute;
  width: calc(100% - 300px);
  top: 60px;
  left: 300px;
  min-height: 100vh;
  background: var(--white);
  transition: 0.5s;
  margin: auto;
}


.main.active {
  width: calc(100% - 80px);
  left: 80px;
}




.topbar {
  position: absolute;
  width: calc(100% - 300px);
  left: 300px;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  transition: 0.5s;
}
.topbar.active {
  width: calc(100% - 80px);
  left: 80px;
}


.toggle {
  position: relative;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  cursor: pointer;
}





/* ====================재고현황=========== */
.quote {
  color: #666;
  font: 14px/24px "Open Sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", Sans-Serif;
  margin:20px;
  overflow: auto;
  height: 450px;
  border:1px solid black;
}
.quote::-webkit-scrollbar {
  width: 10px;
}


#pro_product thead{
  top: 0;
  position: sticky;
}
.quote::-webkit-scrollbar-thumb {
  background-color: lightgray;
  /* border-radius: 10px; */
  background-clip: padding-box;
  border: 2px solid transparent;
}
.quote::-webkit-scrollbar-track {
  background-color: var(--gray);
  /* border-radius: 10px; */
  /* box-shadow: inset 0px 0px 5px white; */
}
.quote table {
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;
  
}

.quote th,
.quote td{
  padding: 5px;
  
}


.quote th {
  background: gray;
  color: #fff;
  text-align: left;
  border: 1px solid black;
}
/* .quote tr:first-child th:first-child {
  border-top-left-radius: 6px;
}
.quote tr:first-child th:last-child {
  border-top-right-radius: 6px;
} */
.quote td{
  border-right: 1px solid #c6c9cc;
  border-bottom: 1px solid #c6c9cc;
}
.quote td:first-child {
  border-left: 1px solid #c6c9cc;
}
.quote tr:nth-child(even) td{
  background: #eaeaed;
}
/* .quote tr:last-child td:first-child{
  border-bottom-left-radius: 6px;
}
.quote tr:last-child td:last-child{
  border-bottom-right-radius: 6px;
} */

.input_pro {
  color: #666;
  font: 14px/24px "Open Sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", Sans-Serif;
  margin:20px;
  position: absolute;
  bottom: 100px;
  
}
.input_pro table {
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;
  border:1px solid
  /* table-layout: fixed; */
}
.input_pro th{
  border:1px solid black;
  padding: 6px;
}
.input_pro td{
  padding:5px;
}
.input_pro th {
  background: gray;
  color: #fff;
  text-align: left;
}

.input_pro td{
  border-right: 1px solid #c6c9cc;
  border-bottom: 1px solid #c6c9cc;
}
.input_pro td:first-child {
  border-left: 1px solid #c6c9cc;
}
.input_pro tr:nth-child(even) td{
  background: #eaeaed;
}

.input_pro input{
  width: 100%;
}
.input_pro button{
  width: 60px;
}

.btnhome {
  text-align: right;
}

.btnhome button {
  
  margin-right: 25px;
}
/* ==========================재고검색==================== */
#p-form {
  display: none;
}
#pn{
  width: 120px;
}


/* #dbox{
  width: 20px;
  background-color: gray;
  outline: none;
} */
.input_date_box{
  width: 130px;
}

#dbox{
  position: relative;
  min-height:30px;
  border: 1px solid gray;
  background-color: gray;
  color: var(--whtie);
  font-size:15px;
  /* width: 30px; */
}

#dbox::-webkit-clear-button,
#dbox::-webkit-inner-spin-button { 
    display: none;
} 
#dbox::-webkit-calendar-picker-indicator { 
    background: transparent;
    z-index: 1;
} 

.input_date_box input:after{
  position: absolute;
  top:50%;
  right:5px;
  content: '';
  width: 20px;
  height:20px;

  background: gray url('/img/dr.png') center center /contain;
  transform: translateY(-50%);
  z-index: 0;
}




/* ==================================예측 상세매뉴====================== */
.menu {
  position: relative;
  width: 60%;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  float: left;
}

.menu .card {
  position: relative;
  background: var(--white);
  padding: 20px;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.3);
}

.menu .card .numbers {
  position: relative;
  font-weight: 500;
  font-size: 1.2rem;
  color: var(--black);
  line-height: normal;
  
}

.menu .card .cardName {
  color: var(--black2);
  font-size: 0.75rem;
  
}

.menu .card ion-icon {
  font-size: 1rem;
  color: var(--black2);
  margin-right: 20px;
  text-align: center;
  
}

.menu .card:hover {
  background: var(--main);
  transition: 1s;
}
.menu .card:hover .numbers,
.menu .card:hover .cardName,
.menu .card:hover ion-icon {
  color: var(--white);
}
/* ======================시세정보=============== */
.rollingbanner {
  position: relative;
  width: 40%;
  padding:23px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
  float: left;
  font-size:2rem;
}

.rollingbanner .wrap {
  position: relative;
  background: var(--white);
  padding: 23px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  border: 5px solid var(--blue);
}

.rollingbanner .wrap .li a {
  position: relative;
  font-weight: 500;
  color: var(--black);
  line-height: normal;
}




/* 롤링 배너 */
.rollingbanner > .wrap{
  position: relative;
  width: auto;
  height: 100%;
  box-sizing: border-box;
  overflow: hidden;
}        
.rolling ul{
  list-style: none;
}
.rollingbanner li{
  position: absolute;
  top: -50px;
  left: 0;
}
/* 이전, 현재, 다음 롤링 배너 표시 */
.rollingbanner li.prev{
  top: 50px;
  transition: top 1s ease;
}
.rollingbanner li.current{
  top: 0;
  transition: top 1s ease;
}
.rollingbanner li.next{
  top: -50px;
}
.rollingbanner a{
  display: block;
  display: -webkit-box;
  text-decoration: none;
  -webkit-line-clamp: 1;
  -webkit-box-orient:vertical;
  overflow: hidden;
  color: #000;
}
/* ================== Charts JS ============== */
.chartsBx{
  position: relative;
  width: 100%;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 20px;
  margin-right: 20px;
}

.chartsBx .chart{
  position: relative;
  background: #fff;
  padding: 20px;
  width: 99%;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
  border-radius: 20px;
  border: 1px solid var(--main);
}
/* ================== Order Details List ============== */
/* .details {
  position: relative;
  width: 100%;
  padding: 20px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 30px;
   margin-top: 10px; 
}

.details .recentOrders {
  position: relative;
  display: grid;
  min-height: 500px;
  background: var(--white);
  padding: 20px;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
  border-radius: 20px;
}

.details .cardHeader {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.cardHeader h2 {
  font-weight: 600;
  color: var(--blue);
}
.cardHeader .btn {
  position: relative;
  padding: 5px 10px;
  background: var(--blue);
  text-decoration: none;
  color: var(--white);
  border-radius: 6px;
}

.details table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}
.details table thead td {
  font-weight: 600;
}
.details .recentOrders table tr {
  color: var(--black1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.details .recentOrders table tr:last-child {
  border-bottom: none;
}
.details .recentOrders table tbody tr:hover {
  background: var(--blue);
  color: var(--white);
}
.details .recentOrders table tr td {
  padding: 10px;
}
.details .recentOrders table tr td:last-child {
  text-align: end;
}
.details .recentOrders table tr td:nth-child(2) {
  text-align: end;
}
.details .recentOrders table tr td:nth-child(3) {
  text-align: center;
}
.status.delivered {
  padding: 2px 4px;
  background: #8de02c;
  color: var(--white);
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
}
.status.pending {
  padding: 2px 4px;
  background: #e9b10a;
  color: var(--white);
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
}
.status.return {
  padding: 2px 4px;
  background: #f00;
  color: var(--white);
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
}
.status.inProgress {
  padding: 2px 4px;
  background: #1795ce;
  color: var(--white);
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
}

.recentCustomers {
  position: relative;
  display: grid;
  min-height: 500px;
  padding: 20px;
  background: var(--white);
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
  border-radius: 20px;
}
.recentCustomers .imgBx {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  overflow: hidden;
}
.recentCustomers .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.recentCustomers table tr td {
  padding: 12px 10px;
}
.recentCustomers table tr td h4 {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.2rem;
}
.recentCustomers table tr td h4 span {
  font-size: 14px;
  color: var(--black2);
}
.recentCustomers table tr:hover {
  background: var(--blue);
  color: var(--white);
}
.recentCustomers table tr:hover td h4 span {
  color: var(--white);
} */

/* ====================== Responsive Design ========================== */
/* @media (max-width: 991px) {
  .chartsBx{
    grid-template-columns: 1fr;
    height: auto;
  }

  .navigation {
    left: -300px;
  }
  .navigation.active {
    width: 300px;
    left: 0;
  }
  .main {
    width: 100%;
    left: 0;
  }
  .main.active {
    left: 300px;
  }
  .cardBox {
    grid-template-columns: repeat(2, 1fr);
  }
}


@media (max-width: 768px) {
  .details {
    grid-template-columns: 1fr;
  }
  .recentOrders {
    overflow-x: auto;
  }
  .status.inProgress {
    white-space: nowrap;
  }
}

@media (max-width: 480px) {
  .cardBox {
    grid-template-columns: repeat(1, 1fr);
  }
  .cardHeader h2 {
    font-size: 20px;
  }
  .user {
    min-width: 40px;
  }
  .navigation {
    width: 100%;
    left: -100%;
    z-index: 1000;
  }
  .navigation.active {
    width: 100%;
    left: 0;
  }
  .toggle {
    z-index: 10001;
  }
  .main.active .toggle {
    color: #fff;
    position: fixed;
    right: 0;
    left: initial;
  }
} */
